.theme-doc-markdown {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 15px 40px 15px;
}

.theme-doc-markdown img {
  max-width: 80%;
  margin: auto;
  display: block;
}

.theme-doc-markdown video {
  max-width: 80%;
  margin: auto;
  display: block;
}

[class*="categoryLink"] {
  font-weight: bold;
}

.vimeo-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 1rem;
}

.vimeo-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
